/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:34:19 PM
    Author     : Norm
*/
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800");
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 2:15:54 PM
    Author     : Norm
*/
.footer-large {
  font-family: verdana;
  font-size: 0.75rem;
  color: #ffffff;
  width: 100%;
  height: 260px;
  background-color: #4D2E22;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-text {
  padding-left: 75px;
}

.footer-text li {
  list-style: none;
}

#footer-stuff {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* solid red;*/
  padding-right: 40px;
  resize: none;
}

#footer-stuff .main-weaver {
  font-family: "Italianno";
  font-size: 1.5625rem;
}

#footer-stuff img {
  height: 25px;
  width: 30px;
}

.footer-spacer {
  height: 10px;
}

.phone-number-title {
  font-size: 1.25rem;
  font-weight: bold;
}

#footer-links {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-small {
  font-family: verdana;
  font-size: 0.75rem;
  color: #ffffff;
  width: 100%;
  height: 375px;
  background-color: #4d2e22;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-small .footer-row-sm1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title-sm {
  font-family: Italianno;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-text-sm {
  padding-left: 20px;
}

.footer-row-sm1 iframe {
  width: 85px;
  height: 85px;
  padding-right: 30px;
}

.footer-links-sm {
  border: 0px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-links-sm img {
  width: 60%;
}

.footer-text .title h2 {
  /*border: 0px solid red;*/
  font-family: Italianno;
  font-size: 1.875rem;
}

.back-to-top {
  text-align: right;
}

.footer-text .title {
  /*border: 3px solid white;*/
  line-height: 25%;
  font-size: 3.125rem;
}

.footer-text {
  /*border: 3px solid white;*/
  font-size: 10px;
}

.footer-text .Phyllis-Leck {
  /*border: 3px solid white;*/
  font-weight: normal;
  font-size: 0.9375rem;
  padding-left: 20px;
}

.map {
  padding-top: 20px;
}

#footer-links {
  padding-bottom: 20px;
}

.newsletter {
  /*border: 3px solid red;*/
  color: white;
  width: 80%;
  padding-left: 120px;
  padding-right: 120px;
}

.newsletter a {
  /*border: 3px solid red;*/
  color: white;
  width: 100%;
  font-size: 1rem;
}

.footer-small-links {
  /*border: 3px solid red;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 800px) {
  .footer-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-large {
    display: none;
  }
  .index-container {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .footer-small {
    display: none;
  }
  .footer-large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 900px) {
  .large-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .small-screen {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .large-screen {
    display: none;
  }
  .small-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 800px) {
  .footer-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-large {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .footer-small {
    display: none;
  }
  .footer-large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-top-line {
  /*border: 3px solid red;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=footer.css.map */