@media only screen and (min-width: 900px) {
  .contact-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-image {
    /*width: 80%;*/
    position: relative;
    top: 70px;
  }
}

@media only screen and (max-width: 900px) {
  .contact-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-container .form-container {
    padding: 25px;
  }
}

@media only screen and (min-width: 900px) {
  .large-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .small-screen {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .large-screen {
    display: none;
  }
  .small-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 900px) {
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /*.about-container-mobile, about-mobile-block1, about-mobile-block1a, about-mobile-block2, about-mobile-block2a, about-mobile-block3 {*/
  .about-container-mobile {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .about-container {
    display: none;
  }
  /*.about-container-mobile, about-mobile-block1, about-mobile-block1a, about-mobile-block2, about-mobile-block2a, about-mobile-block3 {*/
  .about-container-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 800px) {
  .footer-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-large {
    display: none;
  }
  .shawls-block .image1 {
    position: relative;
    left: 0;
    top: 0;
    z-index: 5;
  }
  .shawls-block .image2 {
    position: absolute;
    top: 400px;
    left: 0px;
    z-index: 10;
    border: 6px solid white;
  }
  .index-mobile-shawls,
  .index-mobile-decor,
  .index-mobile-etsy {
    position: relative;
    left: 0;
    top: 0;
    z-index: 5;
  }
  .index-mobile-shawls-text {
    position: absolute;
    top: 150px;
    left: 15px;
    z-index: 10;
    text-decoration: none;
  }
  /*  .index-mobile-shawls-text:hover {
    font-weight: bold;
    font-size: 3rem;
  }*/
  .index-mobile-etsy-text {
    position: absolute;
    top: 105px;
    left: 30px;
    z-index: 10;
    text-decoration: none;
  }
  .index-mobile-decor-text {
    position: absolute;
    top: 250px;
    left: 100px;
    z-index: 10;
    text-decoration: none;
  }
  .index-mobile-hover:hover {
    font-weight: bold;
    font-size: 3rem;
  }
}

@media only screen and (min-width: 800px) {
  .footer-small {
    display: none;
  }
  .footer-large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 600px) {
  .pop-out-swag-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pop-out-swag-container-mobile {
    display: none;
  }
  .header-image {
    background-image: url("../images/phyllis_title_cropped.jpg");
  }
}

@media only screen and (max-width: 600px) {
  .pop-out-swag-container {
    display: none;
  }
  .pop-out-swag-container-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-image {
    background-image: url("../images/header_M.jpg");
  }
}
/*# sourceMappingURL=screenSize.css.map */