$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

.card {
    z-index: 30;
    // $card-height: 50rem;
    perspective: 150rem;
    position: relative;
    // height: $card-height;
    border-radius: 3px;
    // box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
        color: black;
        font-size: 2rem;
        // height: $card-height;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        // width: 100%;
        backface-visibility: hidden;

        &--front {
            // background-color: $color-white;
        }

        &--back {
            // overflow: visible;
            transform: rotateY(180deg);

            // &-1 {
            //     background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            // }
            // &-2 {
            //     background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            // }
            // &-3 {
            //     background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            // }
        }
    }

    &:hover &__side--front {
        // transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        // transform: rotateY(0deg);
    }

    &:active &__side--front {
        // transform: rotateY(-180deg);
    }

    &:active &__side--back {
        // transform: rotateY(0deg);
    }
}
