/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:28:38 PM
    Author     : Norm
*/
@import "variables";
@import "header";
@import "card";
@import "footer";
// @import "screenSize";


// .double-space-after-period {
//     // border: 3px solid red;
//     height: 25px;
//     width: 100px;
//     word-spacing: 50px;
// }

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Open Sans';
}


.copy-and-image {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding-top: 20px;
  /*border: 3px solid red;*/
}


.copy-block {
  /*border: 0px solid red;*/
  height: 561px;
  background-color: #F3F4F5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 0px solid red;
  font-family: "Open Sans";
  color: #000000;
  font-weight: 300;
  font-size: 2.5rem /*40px*/;
}
  
.content-text-block {
  /*border: 3px solid red;*/
  width: 100%;
  font-size: 0.9375rem /*15px*/;
}

.heading-row {
  text-align: center;
  color: #4D2E22;
  text-decoration: none;
}

.small-heading-row {
  /*border: 3px solid red;*/
  font-size: 1.125rem /*18px*/;
  font-weight: bold;
  text-align: left;
  color: #4D2E22;
  align-self: flex-start;
}

.small-heading-row-centered {
  /*border: 3px solid red;*/
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #4D2E22;
  align-self: center;
}

.large-heading-row {
  /*border: 3px solid red;*/
  font-size: 1.4rem /*18px*/;
  font-weight: bold;
  text-align: left;
  color: #4D2E22;
  align-self: center;
}

.image-block {
//   overflow: hidden;
    overflow: visible;
  width: 300px;
  text-align: center;
//   margin-top: 100px;
//   margin-bottom: 100px;
}


.image-block a:hover {
  font-weight: bold;
  font-size: 1.1rem;
}


a {
  text-decoration: underline;
}

.description-and-price {
  display: flex;
  justify-content: space-between;
  /*border: 3px solid blue;*/
}

.add-to-cart-button {
  display: flex;
  /*border: 3px solid blue;*/
  justify-content: flex-end;
}

.add-to-cart-dropdown {
  display: flex;
  justify-content: flex-end;
}

.add-to-cart {
  /*border: 3px solid red;*/
  display: flex;
  justify-content: flex-end;
}


.heading-rows {
  position: relative;
  top: 170px;
  text-decoration: none;

  .small-heading-row {
    //   border: 3px solid red;
      width: 50%;
      margin: 0 auto;
      text-align: center;
  }
}


.spacer {
  height: 30px;
}

.spacer30 {
  height: 30px;
}
.spacer20 {
  height: 20px;
}

.spacer10 {
  height: 10px;
}


/*.dev {
  display: inline;
  display: none;
}*/


.price {
  padding-right: 7px;
}

.small-heading-row-left {
  /*border: 3px solid red;*/
  padding-right: 120px;
}


.has-insert {
  position: relative; 
  left: 0; 
  top: 0;
  z-index: 5;
}


.image1 {
  position:absolute;
  top: 0px;
  left: 10px;
  z-index: 1;
}

.image2 {
  position:absolute;
  top: 400px;
  left: 6px;
  z-index: 2;
  border: 6px solid white;
}


.dev {
  /*display: inline;*/
  display: none;
}

.image-block a:hover {
    font-weight: bold;
    font-size: 1.1rem;
}

@mixin min-mixin($arg) {
  @media screen and (min-width: $arg ) {
    @content;
  }
}

@mixin min-max-mixin($arg1, $arg2) {
  @media screen and (min-width: $arg1 ) and (max-width: $arg2) {
    @content;
  }
}

@mixin max-mixin($arg) {
  @media screen and (max-width: $arg ) {
    @content;
  }
}


.alchemy-wide {
    // border: 4px solid black;
    width: 100%;
    // height: 50px;
    // padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    @include max-mixin(800px) {
        display: none;
    }
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $footerBackgroundColor;
    color: #957a2b; //white;

    a {
        text-decoration: underline;
        color: #957a2b; //white;
    }
      
    .credit-brand {
        @extend %font-credit-brand;
        font-size: 18px;
    }
    .credit-name {
        @extend %font-credit-name;
        font-size: 16px;
    }
    .credit-tagline {
        @extend %font-credit-tagline;
        font-size: 14px;
        text-align: center;
    }
    color: #957a2b; //white;
}
.alchemy-narrow {
    // border: 4px solid black;
    width: 100%;
    // height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $footerBackgroundColor;
    color: #957a2b; //white;

    a {
        text-decoration: underline;
        color: #957a2b; //white;
    }
      
    .credit-brand {
        @extend %font-credit-brand;
        font-size: 18px;
    }
    .credit-name {
        @extend %font-credit-name;
        font-size: 16px;
    }
    .credit-tagline {
        @extend %font-credit-tagline;
        font-size: 14px;
        text-align: center;
    }
    color: #957a2b; //white;
}
