/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:34:19 PM
    Author     : Norm
*/
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800");
@import "variables";


.footer-large {
    // border: 3px solid blue;
    font-family: verdana;
    font-size: 0.75rem /*12px*/;
    color: #ffffff;
    width: 100%;
    height: 260px;
    background-color: $footerBackgroundColor;
    justify-content: space-between;
}

.footer-text {
    // border: 3px solid red;
    padding-left: 75px;
    // overflow: hidden;
    // resize: none; //horizontal;
}

.footer-text li {
    list-style: none;
}

#footer-stuff {
    // border: 3px solid red;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* solid red;*/
    padding-right: 40px;
    // overflow: hidden;
    resize: none;
}

#footer-stuff .main-weaver {
    font-family: "Italianno";
    font-size: 1.5625rem /*25px*/;
}

#footer-stuff img {
    height: 25px;
    width: 30px;
}

.footer-spacer {
    height: 10px;
}

.phone-number-title {
    font-size: 1.25rem /*20px*/;
    font-weight: bold;
}

#footer-links {
    // border: 3px solid red;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.footer-small {
    font-family: verdana;
    font-size: 0.75rem /*12px*/;
    color: #ffffff;
    width: 100%;
    // height: 375px;
    background-color: #4d2e22;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 20px;
}

.footer-small .footer-row-sm1 {
    // border: 3px solid red;
    display: flex;
    justify-content: space-between;
}

.title-sm {
    font-family: Italianno;
    font-size: 1.25rem /*20px*/;
    display: flex;
    justify-content: center;
}

.footer-text-sm {
    padding-left: 20px;
}

.footer-row-sm1 iframe {
    width: 85px;
    height: 85px;
    padding-right: 30px;
}

.footer-links-sm {
    // border: 3px solid red;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
}

.footer-links-sm img {
    // width: 60%;
}


.footer-text .title h2 {
    /*border: 0px solid red;*/
    font-family: Italianno;
    font-size: 1.875rem /*30px*/;
}

.back-to-top {
    text-align: right;
}

.footer-text .title {
    /*border: 3px solid white;*/
    line-height: 25%;
    font-size: 3.125rem /*50px*/;
}

.footer-text {
    /*border: 3px solid white;*/
    font-size: 10px;
}

.footer-text .Phyllis-Leck {
    /*border: 3px solid white;*/
    font-weight: normal;
    font-size: 0.9375rem;
    padding-left: 20px;
}

.map {
    padding-top: 20px;
}

#footer-links {
    padding-bottom: 20px;
}

.newsletter {
    /*border: 3px solid red;*/
    color: white;
    // width: 80%;
    // padding-left: 120px;
    // padding-right: 120px;
}

.newsletter a {
    /*border: 3px solid red;*/
    color: white;
    width: 100%;
    font-size: 1rem;
}

.footer-small-links {
    // border: 3px solid red;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 800px) {
    .footer-small {
        display: flex;
    }
    .footer-large {
        display: none;
    }
    .index-container {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .footer-small {
        display: none;
    }
    .footer-large {
        display: flex;
    }
}

@media only screen and (min-width: 900px) {
    .large-screen {
        display: flex;
    }
    .small-screen {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .large-screen {
        display: none;
    }
    .small-screen {
        display: flex;
    }
}

@media only screen and (max-width: 800px) {
    .footer-small {
        display: flex;
    }
    .footer-large {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .footer-small {
        display: none;
    }
    .footer-large {
        display: flex;
    }
}

.footer-top-line {
    /*border: 3px solid red;*/
    display: flex;
    align-items: center;
}


