/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:17:13 PM
    Author     : Norm
*/

#header-image {
    width: 100%;
    height: 600px;
    // display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    // background-image: url("./images/phyllis_title_cropped.jpg");
    // background: transparent url('./images/contact_loom.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    // background-size: cover;
    // background-position: left;
    color: white;
    font-weight: bold;
    /*font-size: 3.75rem 60px;*/
    font-size: 3.75rem;
    font-family: Italianno;
    width: 100%;
    // position: relative;
    // top: 85px;
}

.banner {
    width: 100%;
    font-family: Italianno;
    font-weight: bold;
    color: #7d4628;
    text-align: left;
    /*padding-left: 30px;*/
    background-color: #e3e3e3;
    display: flex;
    justify-content: space-around;
    z-index: 10;

    @include max-mixin(600px) {
        flex-direction: column;
        align-items: center;
    }

    .text1 {
        /*border: 3px solid red;*/
        font-family: Italianno;
        font-weight: bold;
        color: #7d4628;
        text-align: left;
        background-color: #e3e3e3;
        font-size: 40px;
        @include max-mixin(350px) {
            // font-size: 30px;
        }
    }

    .text2 {
        /*border: 3px solid red;*/
        color: #480f06;
        font-family: "OPen Sans", "Arial Bold";
        align-self: center;
        font-size: 18px;
        @include max-mixin(500px) {
            font-size: 16px;
        }
    }
}

// header {

.main-full {
    @include min-mixin(400px) {
        display: flex;
    }
    @include max-mixin(400px) {
        display: none;
    }
}
.main-fullX {
    display: none;
}

.main-mobile {
    @include min-mixin(400px) {
        display: none;
    }
    @include max-mixin(400px) {
        display: flex;
    }
}

nav {
    // border: 3px solid red;
    display: flex;
    background-color: #4d2e22;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 35px;
    align-items: center;

    a {
        // border: 3px solid blue;
        color: white;
        text-align: center;
        text-decoration: none;
    }

    a:hover,
    .dropdown:hover .dropbtn {
        background-color: #5243d8;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.sticky + .main {
    padding-top: 80px;
}

.sticky + .main-home {
    padding-top: 85px;
}

.sticky + .main-about {
    padding-top: 85px;
}

.shopping-cart {
    align-self: center;
    form img {
        padding-top: 0;
        // padding-bottom: 20px;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /*min-width: 100px;*/
    // height: 30px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    /*z-index: 1;*/
}

.dropdown-content a {
    float: none;
    color: black;
    /*padding: 12px;*/
    text-decoration: none;
    display: block;
    text-align: left;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

// header nav span .menu-item {
//     // font-size: 1.25rem /*20px*/;
//     color: white;
//     color: red;
// }

// .menu-item {
//     font-size: 12px;
//     color: white;
//     color: red;
// }

.dropdown-item {
    font-size: 16px;
    color: black;
}

.statement-parent {
    // border: 3px solid red;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    color: #707070;
    // @include max-mixin(700px) {
    //     background-color: #f3f4f5;
    // }

    .statement {
        // border: 3px solid red;
        /*background-color: lightyellow;*/
        font-family: "Times New Roman", Times, serif;
        // padding: 40px 50px 0px 50px;
        height: auto;
        font-size: 20px; //1.375rem /*22px*/;
        text-align: left;
        width: 50%;
        @include min-mixin(1400px) {
            width: 40%;
        }
        @include max-mixin(800px) {
            width: 80%;
        }
        @include max-mixin(400px) {
            width: 90%;
        }
    }

    .signature {
        /*background-color: lightgreen;*/
        width: 40%;
        padding-top: 0px;
        height: auto;
        font-size: 1.375rem /*22px*/;
        text-align: right;
    }
}

@media only screen and (max-width: 525px) {
    header nav {
        /*padding-right: 20px;*/
        justify-content: space-around;
        .menu-item a {
            font-size: 16px;
        }
    }
    html {
        font-size: 12px;
    }

    // .banner {
    //     justify-content: flex-start;
    //     .text1 {
    //         font-size: 28px;
    //     }
    // }
    // .banner .text2 {
    //     text-align: left;
    //     padding-left: 50px;
    // }
}

@media only screen and (min-width: 525px) {
    header nav {
        justify-content: space-around;
    }
    // .banner {
    //     justify-content: space-around;
    //     .text1 {
    //         font-size: 28px;
    //     }
    // }
    // .banner .text2 {
    //     /*text-align: right;*/
    //     padding-left: 100px;
    // }
}

@media only screen and (min-width: 1000px) {
    // put in header
    // .text1 {
    //     font-size: 28px;
    // }
    // .text2 {
    //     font-size: 2.5rem /*40px*/;
    // }
}

@media only screen and (max-width: 1000px) {
    // put in header
    // .text1 {
    //     font-size: 28px;
    // }
    // .text2 {
    //     font-size: 1.25rem /*20px*/;
    // }
}

@media only screen and (max-width: 450px) {
    nav a {
        font-size: 1.25rem;
        font-size: 16px;
        padding: 6px;
        padding-left: 6px;
    }
    .menu-item form {
        padding-top: 3px;
        padding-left: 6px;
    }
}

@media only screen and (min-width: 450px) {
    nav a {
        // font-size: 1.25rem;
        // padding: 14px;
    }
    .menu-item form {
        // padding-top: 12px;
        // padding-left: 12px;
    }
}

@media only screen and (min-width: 600px) {
    #header-image {
        background: url("../images/phyllis_title_cropped.jpg") no-repeat;
        // background-image: url("../images/contact_loom@2x.png");
        opacity: 1;
        background-position: center bottom;
        width: 100%;
        background: url("../images/phyllis_title_cropped.jpg") no-repeat center center/cover;
    }
}

@media only screen and (max-width: 600px) {
    #header-image {
        // background-image: url("../images/header_M.jpg");
        // background-image: url("../images/contact_loom_cropped.png");
        background: url("../images/phyllis_title_cropped.jpg") no-repeat;
        // background: url("../images/contact_loom_cropped.png") no-repeat ;
        background-position: center bottom;
    }
}

@media only screen and (max-width: 1000px) {
    #about-image {
        background-image: url("../images/about_mobile2.jpg");
    }
    // .text1 {
    //     font-size: 3.125rem /*50px*/;
    // }
    // .text2 {
    //     font-size: 1.25rem /*20px*/;
    // }
}

@media only screen and (min-width: 1000px) {
    #about-image {
        background-image: url("../images/about_image_p.jpg");
    }
    // .text1 {
    //     font-size: 5rem /*80px*/;
    // }
    // .text2 {
    //     font-size: 2.5rem /*40px*/;
    // }
}

@media only screen and (max-width: 525px) {
    header nav {
        /*padding-right: 20px;*/
        justify-content: space-around;
    }
    html {
        font-size: 12px;
    }
    // .banner {
    //     justify-content: flex-start;
    //     .text1 {
    //         font-size: 22px;
    //     }
    // }
    // .banner .text2 {
    //     text-align: left;
    //     padding-left: 50px;
    // }
}

@media only screen and (max-width: 400px) {
    header nav {
        /*padding-right: 20px;*/
        justify-content: space-around;
    }
    html {
        font-size: 12px;
    }
    // .banner {
    //     justify-content: flex-start;
    //     // font-size: 16px;
    // }
    // .banner .text1 {
    //     border: 3px solid red;
    //     font-size: 22px;
    // }
    // .banner .text2 {
    //     text-align: left;
    //     padding-left: 16px;
    // }
}

@media only screen and (min-width: 525px) {
    header nav {
        justify-content: space-around;
    }
    // .banner {
    //     justify-content: space-around;
    //     .text1 {
    //         font-size: 22px;
    //     }
    // }
    // .banner .text2 {
    //     /*text-align: right;*/
    //     padding-left: 100px;
    // }
}

@media only screen and (max-width: 450px) {
    header {
        nav {
        }
        // nav a {
        //     font-size: 1.25rem;
        //     padding: 6px;
        //     padding-left: 6px;
        // }
        // .menu-item form {
        //     padding-top: 3px;
        //     padding-left: 6px;
        // }
    }
}

@media only screen and (min-width: 450px) {
    header {
        // nav a {
        //     font-size: 1.25rem;
        //     padding: 14px;
        // }
        // .menu-item form {
        //     padding-top: 12px;
        //     padding-left: 12px;
        // }
    }
}
