/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 2:15:54 PM
    Author     : Norm
*/

$indexTextColor: #4D2E22;
$home-decor-background-color: #F3F4F5;
$popOutSwagBgColor: #E3E9F9;
$footerBackgroundColor:#4D2E22;

%font-credit-brand {
    font-family: "Major Mono Display", monospace;
    font-weight: 800;
}

%font-credit-name {
    font-family: "Open Sans", sans-serif;
}

%font-credit-tagline {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}

