/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:22:41 PM
    Author     : Norm
*/

@import url("https://fonts.googleapis.com/css?family=Italianno");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "common";

#about-image {
    width: 100%;
    height: 460px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../images/about_image_p.jpg");
    background-size: cover;
    color: white;
    font-weight: bold;
    font-size: 3.75rem /*60px*/;
    font-family: Italianno;
    // position: relative;
    // top: 85px;
}

@media only screen and (max-width: 1000px) {
    #about-image {
        background-image: url("../images/about_mobile2.jpg");
        // background-position: right;
        background-position-x: right;
        background-position-y: top;
    }
}

@media only screen and (min-width: 1000px) {
    #about-image {
        background-image: url("../images/about_image_p.jpg");
    }
}

.about-block-new {
    // border: 3px solid red;
    background-color: #F3F4F5;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    height: auto;
    margin: 0 auto;
    @include max-mixin(350px) {
        margin: 0 0;
    }

    .copy-and-imageX {
        .small-heading-rowX {
            text-align: center;
            font-size: 36px;
        }
        padding-bottom: 20px;
    }
    .image-block2 {
        margin: 0 auto;
        text-align: center;
    }
}

.about-blockx {
    display: none;
}


.copy-blockX {
    img {
        float: left;
        padding-right: 30px;
        padding-bottom: 10px;
        @include max-mixin(500px) {
            width: 340px;
        }
        @include max-mixin(400px) {
            width: 250px;
            padding-left: 0;
            margin-left: 0;
        }
    }
    .image-blockX  {
        // border: 3px solid red;
        float: left;
        text-align: center;
        line-height: .25;
        padding-bottom: 15px;
        figcatpion {
            // padding-bottom: 15px;
        }
    }
}

.professional {
    display: flex;
    flex-direction: column;

    &__name {
        display: flex;
        justify-content: space-between;
        width: 100%;
        // border: 3px solid red;
        .professional__link {
            text-align: left;
        }
        @include max-mixin(850px) {
            flex-direction: column;
        }
    }
    &__link {
        // border: 3px solid blue;
        text-align: left;
        width: 300px;
    }
}