/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:22:41 PM
    Author     : Norm
*/

@import url('https://fonts.googleapis.com/css?family=Italianno');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "common";


#about-image {
  width: 100%;
  height: 460px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../images/about_image_p.jpg");
  background-size: cover;
  color: white;
  font-weight: bold;
  font-size: 3.75rem /*60px*/;
  font-family: Italianno;
}

.about-copy-block a:hover {
  font-weight: bold;
  font-size: 1.1rem;
}


.about-container { 
  /*border: 3px solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .copy-and-image {
    background-color: #F3F4F5;
  }
  #block1 .copy-block {
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  #block2 .copy-block {
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
 }
  #block3 .copy-block {
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .about-block {
    width: 80%;
    .content-text-block {
      /*border: 3px solid red;*/
      background-color: #F3F4F5;
      .move-right {
        //   border: 3px solid red;
          width: auto;
          display: flex;
          justify-content: flex-end;
          padding-right: 20px;
      }
    }
    .two-spaces-after-period {
        border: 3px solid red;
        opacity: 0;
    }
}

  .copy-block {
    /*border: 3px solid red;*/
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
  }
}

.about-block {
  /*border: 3px solid blue;*/
  font-family: "Open Sans" "Arial" sans serif;
  display: flex;
  flex-direction: column;
  color: #000000;
  padding-bottom: 50px;
  
  a {
    color: #092E52;
  }

  .about-copy-block ul {
    display: inline;
    position: relative;
    left: 30px;
    list-style: none;
  }

  .copy-and-image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 30px;

    .image1 {
      padding-top: 50px;
    }
    .copy-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      /*align-items: flex-start;*/
    }
  }

  h1 {
    text-align: center;
  }

}

// .about-container-mobile {
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

.about-block2-image {
  text-align: center;
  /*border: 3px solid red;*/
}

.about-mobile-text1 {
  width: 80%;
  border: 0px solid green;
  /*width: 50%;*/
  padding: 0 50px 0 50px;
  .move-right {
    //   border: 3px solid red;
      width: auto;
      display: flex;
      justify-content: flex-end;
      padding-right: 20px;
  }
}
.about-mobile-block {
  background-color: #F3F4F5;
  padding-bottom: 40px;
  border: 0px solid red;
  background-color: #F3F4F5;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 900px) {
  .about-container {
    display: flex;
  }
  /*.about-container-mobile, about-mobile-block1, about-mobile-block1a, about-mobile-block2, about-mobile-block2a, about-mobile-block3 {*/
  .about-container-mobile {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .about-container {
    display: none;
  }
  /*.about-container-mobile, about-mobile-block1, about-mobile-block1a, about-mobile-block2, about-mobile-block2a, about-mobile-block3 {*/
  .about-container-mobile {
    display: flex;
  }
}

// @media only screen and (max-width: 1000px) {
//   #about-image {
//     background-image: url("../images/about_mobile2.jpg");
//   }
// }

// @media only screen and (min-width: 1000px) {
//   #about-image {
//     background-image: url("../images/about_image_p.jpg");
//   }
// }

