/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:52:55 PM
    Author     : Norm
*/

@import url("https://fonts.googleapis.com/css?family=Italianno");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "variables";
@import "header";
@import "common";
@import "footer";
@import "screenSize.scss";

.contact-container {
    /*border: 2px solid red;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contact-block {
    width: 90%;
    border: 3px solid red;
    display: flex;
}

.contact-block textarea {
    height: 190px;
    /*width: 400px;*/
    width: 100%;
}

.contact-container .form-container {
    border: 3px solid red;
    width: 100%;
    padding-left: 20px;
}

.contentBox2a {
    border: 3px solid red;
    float: left;
    /*width: 48%;*/
    padding: 0;
    margin: 0 2% 0 0;
}

// .contentBox2b {
//     border: 3px solid blue;
//     float: left;
//     /*width: 48%;*/
//     padding: 0;
//     margin: 0 0 0 2%;
// }

form.contactform {
    width: 99%;
    text-align: center;
}
.contactform label {
    width: 99%;
    text-align: left;
    font-style: italic;
    display: block;
    margin-bottom: 4px;
}

.contactform button {
    width: 99%;
    text-align: left;
    font-style: italic;
    display: block;
    margin-bottom: 4px;
}
.contactform input {
    width: 99%;
    border: 1px #ccc solid;
    background-color: #f5f5f5;
    padding: 5px;
    margin-bottom: 10px;
    color: #000000;
}
.contactform textarea {
    width: 99%;
    border: 1px #ccc solid;
    background-color: #f5f5f5;
    padding: 5px;
    resize: none;
    color: #000000;
}

.contactform .submit {
    // width: 100%;
    // margin: 10px 0 20px 0;
    cursor: pointer;
    color: #444;
    font: 16px "Oswald", Verdana, Helvetica, sans-serif;
    font-weight: normal;
    padding: 2px 18px;
    text-decoration: none;
    background-color: #f8f8f8;
    background: linear-gradient(#f8f8f8, #d8d8d8);
    border: solid 1px #d8d8d8;
    border-radius: 5px;
    font-size: 24px;
}
.contactform .submit:hover {
    // text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: #7b88c5;
    background: linear-gradient(#7b88c5, #435299);
    border: solid 1px #435299;
    border-radius: 5px;
}

.thankyou-container {
    font-family: "Open Sans";
    font-size: 1.2rem /*20px*/;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.thankyou-text {
    width: 40%;
}

.thankyou-phyllis {
    display: flex;
    justify-content: flex-end;
}

.contact-container .statement {
    border: 0px solid blue;
    width: 70%;
    font-style: italic;
}

.contact-container ul {
    list-style: none;
}

.contact-container li {
    font-size: 1.375rem /*22px*/;
}

.contact-container li span {
    font-style: italic;
}

@media only screen and (min-width: 900px) {
    .contact-block {
        flex-direction: row;
    }
    .contact-image {
        /*width: 80%;*/
        /*    position: relative;
    top: 70px;*/
        height: 477px;
    }
}

@media only screen and (max-width: 900px) {
    .contact-block {
        flex-direction: column;
    }
    .contact-container .form-container {
        padding: 25px;
    }
}

/*@media only screen and (max-width: 900px) {
  .contact-block {
    flex-direction: row;
  }
  .contact-image {
    width: 80%;
    position: relative;
    top: 70px;
    height: 325px;
    width: 300px;
  }
}*/

@media only screen and (max-width: 900px) {
    .contact-block {
        flex-direction: column;
    }
    .contact-container .form-container {
        padding: 25px;
    }
}

@media only screen and (max-width: 450px) {
    .contact-block {
        .big-image {
            display: none;
        }
        .small-image {
            display: inherit;
        }
    }
}

@media only screen and (min-width: 450px) {
    .contact-block {
        .big-image {
            display: inherit;
        }
        .small-image {
            display: none;
        }
    }
}
