/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:52:55 PM
    Author     : Norm
*/

@import url('https://fonts.googleapis.com/css?family=Italianno');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
// @import "variables";
// @import "header";
@import "common";
// @import "footer";
// @import "screenSize.scss";

.statement {
    // border: 3px solid blue;
    width: 70%;
    font-style: italic; 
}


.contact-container {
    // border: 3px solid red;
    width: 70%;
    // height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    @include max-mixin(900px) {
        flex-direction: column;
    }

    .contact-image {
        // border: 3px solid blue;
        // width: 30%;
        // height: auto;
        img {
            height: 325px;
            width: 300px;
        }
    }
    img {
        // height: 325px;
        // width: 300px;
        margin: 0 auto;
        @include max-mixin(450px) {
            width: 80%;
        }
    }

    .form-container {
        @include max-mixin(600px) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        /*width: 90%;*/
        border: 0px solid blue;
        display: flex;
        justify-content: space-around;
        // width: 60%;
        // padding-left: 50px;
        padding-top: 25px;
        text-align: center;
        margin: 0 auto;

        .diagnostic {
            color: red;
            font-weight: bold;
            font-style: italic;
        }

        textArea {
            height: 190px;
            height: auto;
            /*width: 400px;*/
            width: 100%;
        }
        label {
            width: 99%;
            text-align: left;
            font-style: italic;
            display: block;
            margin-bottom: 4px;
        }
        input {
            width: 99%;
            border: 1px #ccc solid;
            background-color: #f5f5f5;
            padding: 5px;
            margin-bottom: 10px;
            color: #000000;
        }
        textarea {
            width: 99%;
            border: 1px #ccc solid;
            background-color: #f5f5f5;
            padding: 5px;
            resize: none;
            color: #000000;
        }
        
        
        .submit {
            width: 50%;
            /*margin: 10px 0 20px 0;*/
            cursor: pointer;
            color: #444;
            color: red;
            font: 24px 'Oswald', Verdana, Helvetica, sans-serif;
            font-weight: normal;
            padding: 2px 18px;
            text-decoration: none;
            background-color: #f8f8f8;
            background: linear-gradient(#f8f8f8, #d8d8d8);
            border: solid 1px #d8d8d8;
            border-radius: 5px;
        }
        .submit:hover {
            text-decoration: none;
            color: #fff;
            background-color: #7b88c5;
            background: linear-gradient(#7b88c5, #435299);
            border: solid 1px #435299;
            border-radius: 5px;
        }


    }

}