/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:38:58 PM
    Author     : Norm
*/

@import url("https://fonts.googleapis.com/css?family=Italianno");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@import "common1";

.main * {
    // margin: 0;
    // padding: 0;
    box-sizing: border-box;
}

$sreen-width-narrow: 700px;
$background-color: #e3e3e3; //#F3F4F5;
.sub-menu {
    // border: 3px solid red;
    width: 50%;
    text-align: center;
    margin: 0 auto;

    &__items {
        margin: 0 auto;
    }
}

.swags {
    width: 70%;
    background-color: $background-color;
    margin: 0 auto;
    padding-bottom: 25px;
    // padding-bottom: 50px;
    // margin-bottom: 50px;
    max-width: 725px;
    padding-right: 25px;

    @include max-mixin(400px) {
        margin-left: 20px;
        margin-right: 20px;
    }
}
.swags-top {
    // border: 3px solid red;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    img {
        width: 400px;
        align-self: center;
    }
    @include max-mixin(400px) {
        width: 100%;
        img {
            width: 100%;
        }
        margin-left: 0;
    }
}

.swags-bottom {
    // border: 3px solid red;
    max-width: 800px;
    width: 100%;
    // display: flex;
    // float: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
    @include max-mixin(800px) {
        padding-bottom: 20px;
        padding-left: 25px;
        padding-right: 25px;
        margin: 0 auto;
    }

    &-text {
        // border: 3px solid red;
        // padding-left: 20px;
        // @include max-mixin(300px) {
        //     padding-left: 0px;
        //     margin-left: 0;
        //     min-width: 100px;
        // }
    }
    @include max-mixin(400px) {
        padding-left: 5px;
        margin: 0 auto;
        min-width: 100px;
    }
    @include max-mixin(300px) {
        padding-left: 0px;
        margin-left: 0;
        min-width: 100px;
    }
    .image-block {
        // border: 3px solid red;
        // display: flex;
        // flex-direction: columnl;
        float: left;
        font-size: 14px;
        margin-bottom: 15px;

        img {
            width: 300px;
            padding: 25px;
            padding-bottom: 0px;
            margin-bottom: 0px;
            // float: left;
            @include max-mixin(300px) {
                padding-left: 0px;
                margin-left: 0;
                min-width: 100px;
            }
        }
    }
}

.flag-block {
    // border: 3px solid red;
    background-color: #e3e3e3; //#F3F4F5;
}

.decor-block0x {
    img {
        width: 100%;
    }
}


.by-scottish {
    /*border: 2px solid red;*/
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -20px;
}

.other-designs {
    /*border: 2px solid red;*/
    text-align: center;
    margin: 0 auto;
    grid-column: 1 / span 2;
}

.rug-rescue-special {
    max-width: 800px;
    width: 100%;
    height: 200px;
    height: auto;
    border: 25px solid #b41111;
    margin: 0 auto;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;

    @include max-mixin(700px) {
        margin: 0 auto;
    }
    @include max-mixin(600px) {
        height: auto;
    }
    @include max-mixin(350px) {
        width: 95%;
    }
    .rug-rescue-contact {
        // text-decoration: none;
    }

    .rug-rescue-header {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 30px;
    }
    .rug-rescue-text {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 20px;
        @include max-mixin(700px) {
            padding-left: 20px;
            padding-right: 20px;
            margin: 0 auto;
        }
        @include max-mixin(600px) {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 16px;
        }
    }
}

.home-decor-container {
    // border: 3px solid red;
    max-width: 800px; //65%;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 370px;
    // grid-template-columns: 1fr 1.5fr;
    background-color: $background-color;
    row-gap: 50px;
    padding-top: 35px;

    @include max-mixin(400px) {
        // margin-left: 20px;
    }

    @include max-mixin($sreen-width-narrow) {
        // grid-template-columns: 300px;
        grid-template-columns: 1fr;
        grid-gap: 0;
        justify-items: left;
        height: auto;
    }
    grid-template-rows: minmax(100px, auto);
    // justify-content: center;

    .small-heading-row-centered {
        /*border: 2px solid red;*/
        text-align: left;
    }

    .other-designs {
        /*border: 2px solid red;*/
        text-align: center;
        margin: 0 auto;
        grid-column: 1 / span 2;
    }

    .large-heading-row {
        /*border: 3px solid red;*/
        width: 100%;
        grid-column: 1 / span 2;
    }

    .decor3-image-text {
        font-size: 16px;
        position: relative;
        top: 210px;
        left: -25px;
    }

    .swag-block {
        display: none;
    }

    #home-decor-block1 {
        /*height: 300px;*/
    }
    #home-decor-block1a {
        /*border: 3ps solid red;*/
        width: 100%;
        grid-column: 1 / span 2;
        margin: 0 auto;
        display: none;
    }
    #home-decor-block1b {
        @include max-mixin($sreen-width-narrow) {
            height: auto;
        }

        height: 560px; //512px;
        @include max-mixin(700px) {
            height: auto;
        }
    }

    #home-decor-block2 {
        // border: 3px solid red;
        // height: 512px;
        @include max-mixin(700px) {
            height: auto;
        }
    }

    #home-decor-block5a {
        height: 228px;
        @include max-mixin(700px) {
            height: auto;
        }
    }

    #home-decor-block5b {
        height: 512px;
        @include max-mixin(700px) {
            height: auto;
        }
    }

    .swag-caption {
        grid-column: 1 / span 2;
    }
    .swag-block2 {
        grid-column: 1 / span 2;
        display: none;
    }
    .dev {
        display: inline;
    }

    .image-block-x {
        width: 100%;
        padding-left: 0;
        margin: 0 auto;
        // border: 3px solid red;
        /*width: 300px;*/
        min-width: 350px;
        img {
        }

        @include max-mixin(350px) {
            min-width: 280px;
        }
    }

    img {
        // padding-left: 49px;
        @include max-mixin(600px) {
            padding-left: 0;
        }
    }

    .rug-image-block {
        width: 100%;
        margin-left: 10px;
        /*border: 3px solid red;*/
        /*width: 300px;*/

        @include max-mixin(700px) {
            margin: 0 auto;
        }

        @include max-mixin(350px) {
            padding-left: 0;
            margin-left: 0;
            // img {
            //     width: 80%;
            // }
        }

    }

    .rings-and-things {
        outline: 3px solid blue;
        padding-bottom: 0;
    }

    .copy-block {
        // border: 3px solid blue;
        // width: 400px;
        max-width: 400px;
        min-width: 300px;
        padding-left: 25px;
        padding-right: 50px;
        padding-bottom: 50px;
        text-align: left;
        height: auto;
        .small-heading-row-centered {
            text-align: left;
        }

        @include max-mixin(700px) {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            padding-left: 10px;
            padding-right: 10px;
        }
        @include max-mixin(350px) {
            min-width: 280px;
        }
    }

    @include max-mixin($sreen-width-narrow) {
        .copy-block-spacer {
            display: block;
            padding: 25px;
        }
    }
    @include min-mixin($sreen-width-narrow) {
        .copy-block-spacer {
            display: none;
            padding: 0px;
        }
    }

    .image-block2 {
        @include max-mixin(350px) {
            width: 250px;
        }
        img {
            max-width: 300px;
            @include max-mixin(350px) {
                width: 200px;
            }
        }
    }

    .hardware {
        // border: 3px solid red;
        background-color: $background-color;
        margin: 0 auto;
        width: 300px;
        display: flex;
        align-items: flex-start;
        // justify-self: flex-end;
        justify-content: flex-end;
        img {
            padding-top: 50px;
            // padding-left: 50px;
        }
        @include max-mixin(700px) {
            justify-content: center;
        }
    }
}

.home-decor-rug {
    // border: 3px solid red;
    max-width: 800px; //80%;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;

    // grid-template-columns: 450px 370px;
    @include max-mixin($sreen-width-narrow) {
        // padding-left: 0;
        // text-align: left;
        // margin-left: 0;
        width: 100%;
        min-width: 280px;
    }
    .click-for-closeup {
        display: block;
    }
}

.test {
    text-align: left;
    color: red;
    display: none;
}

.large-heading-row {
    text-align: center;
    margin: 0 auto;
}

.home-decor-containerXX {
    display: none;
}

.curtain-hardware-frame {
    display: flex;
    iframe {
        margin: 0 auto;
        width: 80%;
        height: 1200px;
    }
}
