/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:38:58 PM
    Author     : Norm
*/

@import url("https://fonts.googleapis.com/css?family=Italianno");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@import "common";

$sreen-width-narrow: 700px;

.sub-menu {
    // border: 3px solid red;
    width: 50%;
    text-align: center;
    margin: 0 auto;

    &__items {
        margin: 0 auto;
    }
}

.flag-block {
    // border: 3px solid red;
    background-color: #f3f4f5;
}

.decor-block0x {
    img {
        width: 100%;
    }
}

.decor-block0 {
    /*border: 3px solid black;*/
    text-align: center;
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include max-mixin(800px) {
        grid-template-columns: 1fr;
        display: block;
    }
    // grid-template-rows: minmax(100px, auto);
    background-color: #f3f4f5;
    justify-items: center;
    // grid-row-gap: 25px;
    // padding-bottom: 20px;
    @include max-mixin(500px) {
        width: 100%;
        min-width: 250px;
        padding: 0;
        img {
            width: 80%;
        }
    }
    padding-bottom: 15px;

    .small-heading-row-centered {
        /*border: 2px solid red;*/
        text-align: left;
    }

    .box {
        /*width: 100px;*/
        /*height: 100px;*/
        /*border: 3px solid black;*/
        /*justify-items: stretch;*/
    }
    .box0 {
        // border: 2px solid red;
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        @include max-mixin(800px) {
            grid-column: 1 / span 1;
            grid-row: 3 / span 1;
        }
        
        width: 100%;
        .image-block {
            margin: 0 auto;
            img {
                @include max-mixin(500px) {
                    // width: 200px;
                }
            }
        }
    }
    .box1 {
        // border: 2px solid red;
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        width: 100%;
        font-size: 16px;
        text-align: left;
        /*padding-right: 50px;*/
        margin: 0 auto;
        align-self: center;

        @include max-mixin(800px) {
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
            width: 80%;
        }
        @include max-mixin(650px) {
            width: 80%;
            margin: 0;
            padding-left: 0;
        }
        @include max-mixin(500px) {
            width: 90%;
            margin: 0;
            // padding-right: 20px;
            padding-left: 10px;
            align-self: flex-start;
            display: block;
            img {
                width: 250px;
            }
        }
    }
    .box2 {
        /*border: 2px black solid;*/
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        @include max-mixin(800px) {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
        }
        font-size: 16px;
        /*width: 50%;*/
        margin: 0 auto;
    }
}

.decor-block0 > div {
    // border: 3px solid red;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    text-align: center;
    /*  padding: 20px 0;
  font-size: 30px;*/
}

.by-scottish {
    /*border: 2px solid red;*/
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -20px;
}

.other-designs {
    /*border: 2px solid red;*/
    text-align: center;
    margin: 0 auto;
    grid-column: 1 / span 2;
}

.rug-rescue-special {
    width: 70%;
    height: 200px;
    height: auto;
    border: 25px solid #b41111;
    margin: 0 auto;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;

    @include max-mixin(600px) {
        height: auto;
    }
    .rug-rescue-contact {
        // text-decoration: none;
    }

    .rug-rescue-header {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 30px;
    }
    .rug-rescue-text {
        padding-left: 100px;
        padding-right: 100px;
        font-size: 20px;
        @include max-mixin(700px) {
            padding-left: 75px;
            padding-right: 75px;
        }
        @include max-mixin(600px) {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 16px;
        }
    }
}

.home-decor-container {
    // border: 3px solid red;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 370px;
    row-gap: 50px;

    @include max-mixin($sreen-width-narrow) {
        grid-template-columns: 300px;
        grid-gap: 0;
        justify-items: left;
    }
    grid-template-rows: minmax(100px, auto);
    justify-content: center;

    .small-heading-row-centered {
        /*border: 2px solid red;*/
        text-align: left;
    }

    .other-designs {
        /*border: 2px solid red;*/
        text-align: center;
        margin: 0 auto;
        grid-column: 1 / span 2;
    }

    .large-heading-row {
        /*border: 3px solid red;*/
        width: 100%;
        grid-column: 1 / span 2;
    }

    .decor3-image-text {
        font-size: 16px;
        position: relative;
        top: 210px;
        left: -25px;
    }

    .swag-block {
        display: none;
    }

    #home-decor-block1 {
        /*height: 300px;*/
    }
    #home-decor-block1a {
        /*border: 3ps solid red;*/
        width: 100%;
        grid-column: 1 / span 2;
        margin: 0 auto;
        display: none;
    }
    #home-decor-block1b {
        @include max-mixin($sreen-width-narrow) {
            height: auto;
        }

        height: 512px;
        @include max-mixin(700px) {
            height: auto;
        }
    }

    #home-decor-block2 {
        // border: 3px solid red;
        // height: 512px;
        @include max-mixin(700px) {
            height: auto;
        }
    }

    #home-decor-block5a {
        height: 228px;
        @include max-mixin(700px) {
            height: auto;
        }
    }

    #home-decor-block5b {
        height: 512px;
        @include max-mixin(700px) {
            height: auto;
        }
    }

    .swag-caption {
        grid-column: 1 / span 2;
    }
    .swag-block2 {
        grid-column: 1 / span 2;
        display: none;
    }
    .dev {
        display: inline;
    }
    .image-block,
    .copy-block {
        /*border: 3px solid red;*/
    }
    .image-block {
        width: 100%;
        /*border: 3px solid red;*/
        /*width: 300px;*/
    }
    .rug-image-block {
        width: 100%;
        margin-left: 10px;
        /*border: 3px solid red;*/
        /*width: 300px;*/
        @include max-mixin(350px) {
            margin-left: 0;
            img {
                width: 80%;
            }
        }
    }

    .copy-block {
        /*border: 3px solid blue;*/
        /*width: 400px;*/
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        text-align: left;
        height: auto;
        .small-heading-row-centered {
            text-align: left;
        }
    }
    .content-text-block {
        // padding-bottom: 100px;
    }
    /*    .copy-block-spacer {
        height: 30;
        padding: 10px;
    }*/
    @include max-mixin($sreen-width-narrow) {
        .copy-block-spacer {
            display: block;
            padding: 25px;
        }
    }
    @include min-mixin($sreen-width-narrow) {
        .copy-block-spacer {
            display: none;
            padding: 0px;
        }
    }

    .image-block2 {
        @include max-mixin(350px) {
            width: 250px;
        }
        img {
            max-width: 300px;
            @include max-mixin(350px) {
                width: 200px;
            }
        }
    }
}

.home-decor-rug {
    // grid-template-columns: 450px 370px;
    @include max-mixin($sreen-width-narrow) {
        grid-template-columns: 300px;
        display: block;
        justify-self: flex-start;
        grid-gap: 0;
        justify-items: left;
        padding-left: 0;
    }
    .click-for-closeup {
        display: block;
    }
}

.large-heading-row {
    text-align: center;
    margin: 0 auto;
}

.home-decor-containerXX {
    display: none;
}

.curtain-hardware-frame {
    display: flex;
    iframe {
        margin: 0 auto;
        width: 80%;
        height: 1200px;
    }
}
