/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:38:58 PM
    Author     : Norm
*/

@import url('https://fonts.googleapis.com/css?family=Italianno');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "variables";
@import "common";
@import "header";
@import "footer";
@import "screenSize.scss";





.home-decor-container {
  /*border: 3px solid red;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .copy-block {
    width: 33%;
    /*border: 3px solid red;*/
    padding-left: 2%;
    padding-right: 2%;
  }
  #home-decor-block1a {
    /*border: 3px solid blue;*/
    text-align: center;
    background-color: $home-decor-background-color;
    position: relative;
    top: 25px;
    left: -212px;
    padding-bottom: 25px;
  }
  #home-decor-block1b {
    height: 590px;
    background-color: $home-decor-background-color;
  }
  #home-decor-block3 {
    height: auto;
  }
  #home-decor-block5 {
    height: 470px;
  }
  #home-decor-block1 {
    padding-bottom: 30px;
  }
  #home-decor-block5a {
    height: 360px;
  }
  .image-block {
    /*border: 3px solid red;*/
    /*background-color: $home-decor-background-color;*/
    background-color: $home-decor-background-color;
  }
  .decor3-image1 {
    background-image: url("../images/2panel_curtain1.jpg");
    width: 300px;
    height: 561px;
  }
  .decor3-image2 {
    border: 3px solid white;
    width: 100px;
    height: 100px;
    z-index: 10;
    position: relative;
    top: 110px;
    left: 195px;
  }
  .decor3-image-text {
    font-size: 16px;
    position: relative;
    top: 210px;
    left: -25px;
  }
} // end of home-decor-container

/**********************************************************************
  M O B I L E
*************************************************************************/

.decor-container-mobile {
  #home-decor-block1 {
    padding-bottom: 100px;
  }
  #home-decor-block5-mobile {
    height: 300px;
  }
  #assymetrical {
    height: auto;
  }
  .large-bracket-set-mobile {
    height: auto;
    width: 200px;
    /*padding-bottom: 50px;*/
  }
  .shawls-block {
    width: 480px;
    /*border: 3px solid blue;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #F3F4F5;
    padding-bottom: 20px;
    padding-top: 20px;

    .image-block {
      /*height: 561px;*/
      height: auto;
      position: relative; 
      left: 0; 
      top: 0;
      z-index: 5;
      /*padding-bottom: 50px;*/
    }
    .copy-block {
      /*border: 3px solid red;*/
      height: auto;
      width: 55%;
    }
    .small-heading-row {
      align-self: center;
    }
    .image1 {
      position: relative; 
      left: 0; 
      top: 0;
      z-index: 5;
    }
    .image2 {
      position:absolute;
      top: 400px;
      left: 0px;
      z-index: 10;
      border: 6px solid white;
    }
  }  
}

.small-bracket-set {
  /*border: 3px solid red;*/
  height: 240px;
  width: 200px;
  padding-bottom: 50px;
}

.bottom-copy-block {
  height: 200px;
}

.small-heading-row-left {
  /*border: 3px solid red;*/
  padding-right: 120px;
}

.forged-brackets {
  /*border: 3px solid red;*/
  height: 75px;
}

.shelf-bracket {
  /*border: 3px solid red;*/
  height: 320px;
  width: 200px;
  padding-bottom: 50px;
  padding-top: 25px;
}

.small-type-container {
  /*border: 3px solid red;*/
  width: 95%;
  height: 35px;
  background-color: $home-decor-background-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-type {
  font-size: 0.8rem;
}


.decor-image-and-text {
  position: relative;
  top: -60px;
  left: -50px;
}

.try-flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.decorM5a-block {
  height: 550px;
}


.brackets a {
  color: black;
}

.forged-brackets a {
  text-decoration: none;
}

  
.content-text-block-centered {
  /*border: 3px solid red;*/
  /*width: 125%;*/
  width: 100%;
  /*border: 0px solid red;*/
  font-size: 0.9375rem /*15px*/;
  text-align: center;
}


@media only screen and (max-width: 900px) {
  .home-decor-container {
    display: none;
  }
  .decor-container-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .copy-and-image {
      /*border: 3px solid red;*/
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .shawls-block {
      width: 480px;
      /*border: 3px solid blue;*/
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: $home-decor-background-color;
      padding-bottom: 20px;
      padding-top: 20px;
      
      .image-block {
        /*height: 561px;*/
        height: auto;
        position: relative; 
        left: 0; 
        top: 0;
        z-index: 5;
        /*padding-bottom: 50px;*/
      }
      .copy-block {
        /*border: 3px solid red;*/
        height: auto;
        width: 55%;
      }
      .small-heading-row {
        align-self: center;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .decor-container-mobile {
    display: none;
  }
}

// this is common code
.copy-and-image {
  /*border: 3px solid blue;*/
  height: auto;
  width: 100%;
}
  .copy-block {
  width: 33%;
  /*border: 3px solid red;*/
  padding-left: 2%;
  padding-right: 2%;
}
.forged-brackets {
  /*border: 3px solid red;*/
  height: 75px;
}
.large-bracket-set {
  /*border: 3px solid red;*/
  height: 280px;
  width: 200px;
  padding-bottom: 50px;
}
.small-bracket-set {
  /*border: 3px solid red;*/
  height: 240px;
  width: 200px;
  padding-bottom: 50px;
}
.shelf-bracket {
  /*border: 3px solid red;*/
  height: 320px;
  width: 200px;
  padding-bottom: 50px;
  padding-top: 25px;
}
.shelf-bracket-container {
  height: auto;
  width: 70%;
  /*border: 3px solid red;*/
  background-color: $home-decor-background-color;
  padding-bottom: 50px;
  
  .image-block {
    align-self: center;
    position: relative;
    left: -40px;
  }
}
.small-type {
  font-size: 0.8rem;
}
.swag-image-block {  // both
  background-image: url("../images/swag_detail.jpg");
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  font-size: 0.8rem;
  padding-left: 15px;
  color: black;
  &:hover { // both
    font-size: 1rem;
    color: blue;
  }
}

  
.home-decor-1 {
  /*border: 3px solid red;*/
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
