/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:38:58 PM
    Author     : Norm
*/

@import url("https://fonts.googleapis.com/css?family=Italianno");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@import "common";


#header-id {
    #nav2x {
        list-style: none inside;
        margin: 0;
        padding: 0;
        text-align: center;
    
        li {
            display: block;
            position: relative;
            float: left;
            background: #24af15;
            /* menu background color */
        }
    
        li a {
            display: block;
            padding: 0;
            text-decoration: none;
            width: 200px;
            /* this is the width of the menu items */
            line-height: 35px;
            /* this is the hieght of the menu items */
            color: #ffffff;
            /* list item font color */
        }
    
        li li a {
            font-size: 80%;
        }
    
        /* smaller font size for sub menu items */
        li:hover {
            background: #003f20;
        }
    
        /* highlights current hovered list item and the parent list items when hovering over sub menues */
        ul {
            position: absolute;
            padding: 0;
            left: 0;
            display: none;
            /* hides sublists */
        }
    
        li:hover ul ul {
            display: none;
        }
    
        /* hides sub-sublists */
        li:hover ul {
            display: block;
        }
    
        /* shows sublist on hover */
        li li:hover ul {
            display: block;
            /* shows sub-sublist on hover */
            margin-left: 200px;
            /* this should be the same width as the parent list item */
            margin-top: -35px;
            /* aligns top of sub menu with top of list item */
        }
    }
    }

.main * {
    // margin: 0;
    // padding: 0;
    box-sizing: border-box;
}

$sreen-width-narrow: 700px;
$background-color: #f3f4f5;
.sub-menu {
    // border: 3px solid red;
    width: 50%;
    text-align: center;
    margin: 0 auto;

    &__items {
        margin: 0 auto;
    }
}

.swags {
    // border: 3px solid red;
    width: 70%;
    background-color: $background-color;
    margin: 0 auto;
    padding-bottom: 25px;
    padding-bottom: 50px;
    padding-right: 15px;
    // max-width: 725px;
    // display: flex;
    // flex-direction: column;

    @include max-mixin(500px) {
        // margin-left: 10px;
        // margin-right: 20px;
        margin: 0 auto;
        width: 100%;
    }
    img {
        // margin: 0 auto;
    }
}

.swags-top {
    // border: 3px solid red;
    display: flex;
    flex-direction: column;
    img {
        width: 400px;
        align-self: center;
    }
    @include max-mixin(400px) {
        width: 100%;
        img {
            width: 100%;
        }
        margin-left: 0;
    }
}

.swags-bottom {
    // border: 3px solid red;
    padding-left: 25px;
    // padding-right: 50px;

    @include max-mixin(500px) {
        // padding-left: 10px;
        // padding-right: 20px;
        width: 100%;
    }

    &-text {
        // border: 3px solid red;
        // padding-left: 20px;
        width: 100%;
        margin: 0 auto;
        text-align: left;
        @include max-mixin(400px) {
            padding-left: 0px;
            margin-left: 0;
            width: 100%;
            min-width: 100px;
        }
    }
    @include max-mixin(400px) {
        padding-left: 5px;
        // margin: 0 auto;
        min-width: 100px;
    }
    @include max-mixin(300px) {
        padding-left: 0px;
        margin-left: 0;
        min-width: 100px;
    }

    img {
        // padding-top: 20px;
        padding-right: 20px;
    }

    .swags-image-block {
        // border: 3px solid green;
        width: 50%;
        min-width: 280px;
        height: 230px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        text-align: center;
        float: left;
        @include max-mixin(700px) {
            float: none;
            margin: 0 auto;
        }

        img {
            width: 100%;
            // min-width: 250px;
            max-width: 300px;
            margin: 0 auto;
        }
    }

    .swags-image-block2 {
        // border: 3px solid green;
        width: 100%;
        min-width: 280px;
        // max-width: 600px;
        height: 230px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        text-align: center;
        height: auto;

        @include max-mixin(700px) {
            float: none;
            margin: 0 auto;
        }

        img {
            width: 100%;
            // min-width: 250px;
            max-width: 675px;
            margin: 0 auto;
        }
    }
}

.flag-block {
    // border: 3px solid red;
    background-color: #f3f4f5;
}

.decor-block0x {
    img {
        width: 100%;
    }
}

.decor-block0 {
    // border: 3px solid red;
    text-align: center;
    margin: 0 auto;
    width: 55%;
    display: block;
    grid-template-columns: 1fr 1fr;
    @include max-mixin(800px) {
        grid-template-columns: 1fr;
        display: block;
    }
    // grid-template-rows: minmax(100px, auto);
    background-color: #f3f4f5;
    justify-items: center;
    // grid-row-gap: 25px;
    // padding-bottom: 20px;
    @include max-mixin(500px) {
        width: 100%;
        min-width: 250px;
        padding: 0;
        img {
            width: 80%;
        }
    }
    padding-bottom: 15px;

    .small-heading-row-centered {
        /*border: 2px solid red;*/
        text-align: center;
    }
    .small-heading-row-left {
        /*border: 2px solid red;*/
        text-align: left;
        font-size: 18px;
    }

    .box {
        // border: 3px solid red;
    }

    .box0 {
        // border: 2px solid red;
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        @include max-mixin(800px) {
            grid-column: 1 / span 1;
            grid-row: 3 / span 1;
        }

        width: 100%;
        .image-block {
            margin: 0 auto;
            img {
                @include max-mixin(500px) {
                    // width: 200px;
                }
            }
        }
    }
    .box1 {
        // border: 2px solid red;
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        width: 100%;
        font-size: 16px;
        text-align: left;
        /*padding-right: 50px;*/
        margin: 0 auto;
        align-self: center;

        @include max-mixin(800px) {
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
            width: 80%;
        }
        @include max-mixin(650px) {
            width: 80%;
            margin: 0;
            padding-left: 0;
        }
        @include max-mixin(500px) {
            width: 90%;
            margin: 0;
            // padding-right: 20px;
            padding-left: 10px;
            align-self: flex-start;
            display: block;
            img {
                width: 250px;
            }
        }
    }
    .box2 {
        /*border: 2px black solid;*/
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        @include max-mixin(800px) {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
        }
        font-size: 16px;
        /*width: 50%;*/
        margin: 0 auto;
    }
}

.decor-block0 > div {
    // border: 3px solid red;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    text-align: center;
    /*  padding: 20px 0;
  font-size: 30px;*/
}

.by-scottish {
    /*border: 2px solid red;*/
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -20px;
}

.other-designs {
    /*border: 2px solid red;*/
    text-align: center;
    margin: 0 auto;
    grid-column: 1 / span 2;
}

.rug-rescue-special {
    width: 70%;
    height: 200px;
    height: auto;
    border: 25px solid #b41111;
    margin: 0 auto;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;

    @include max-mixin(600px) {
        height: auto;
    }
    @include max-mixin(350px) {
        width: 95%;
    }
    .rug-rescue-contact {
        // text-decoration: none;
    }

    .rug-rescue-header {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 30px;
    }
    .rug-rescue-text {
        padding-left: 100px;
        padding-right: 100px;
        font-size: 20px;
        @include max-mixin(700px) {
            padding-left: 75px;
            padding-right: 75px;
        }
        @include max-mixin(600px) {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 16px;
        }
    }
}

.home-decor-container {
    // border: 3px solid red;
    max-width: 65%;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 370px;
    row-gap: 50px;

    @include max-mixin(400px) {
        // margin-left: 20px;
    }

    @include max-mixin($sreen-width-narrow) {
        // grid-template-columns: 300px;
        grid-template-columns: 1fr;
        grid-gap: 0;
        justify-items: left;
        width: 100%;
        padding-left: 0;
        margin-left: 0;
    }
    grid-template-rows: minmax(100px, auto);
    // justify-content: center;

    .small-heading-row-centered {
        /*border: 2px solid red;*/
        text-align: left;
    }

    .other-designs {
        /*border: 2px solid red;*/
        text-align: center;
        margin: 0 auto;
        grid-column: 1 / span 2;
    }

    .large-heading-row {
        /*border: 3px solid red;*/
        width: 100%;
        grid-column: 1 / span 2;
    }

    .decor3-image-text {
        font-size: 16px;
        position: relative;
        top: 210px;
        left: -25px;
    }

    .dev {
        display: inline;
    }

    .image-block-x {
        // border: 3px solid blue;
        // width: 100%;
        // border: 3px solid red;
        /*width: 300px;*/
        min-width: 350px;
        img {
        }

        @include max-mixin(350px) {
            min-width: 280px;
        }
    }

    .image-block {
        // border: 3px solid blue;
    }

    img {
        padding-left: 49px;
        @include max-mixin(600px) {
            padding-left: 0;
        }
    }

    .rug-image-block {
        width: 100%;
        margin-left: 10px;
        /*border: 3px solid red;*/
        /*width: 300px;*/
        @include max-mixin(350px) {
            padding-left: 0;
            margin-left: 0;
            // img {
            //     width: 80%;
            // }
        }
    }

    .copy-block {
        // border: 3px solid blue;
        // width: 400px;
        max-width: 400px;
        min-width: 300px;
        padding-left: 25px;
        padding-right: 50px;
        padding-bottom: 50px;
        text-align: left;
        height: auto;
        .small-heading-row-centered {
            text-align: left;
        }

        @include max-mixin(700px) {
            width: 100%;
            max-width: 500px;
        }
        @include max-mixin(350px) {
            min-width: 280px;
        }
    }

    @include max-mixin($sreen-width-narrow) {
        .copy-block-spacer {
            display: block;
            padding: 25px;
        }
    }
    @include min-mixin($sreen-width-narrow) {
        .copy-block-spacer {
            display: none;
            padding: 0px;
        }
    }

    .image-block2 {
        @include max-mixin(350px) {
            width: 250px;
        }
        img {
            max-width: 300px;
            @include max-mixin(350px) {
                width: 200px;
            }
        }
    }

    .hardware {
        // border: 3px solid red;
        background-color: $background-color;
        width: 300px;
        display: flex;
        align-items: flex-start;
        justify-self: flex-end;
        img {
            width: 100%;
            padding-top: 50px;
            // padding-left: 50px;
            @include max-mixin(400px) {
                padding-left: 10px;
                margin: 0 auto;
                // max-width: 250px;
            }
        }
    }
}

.home-decor-rug {
    // border: 3px solid red;
    max-width: 80%;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;

    // grid-template-columns: 450px 370px;
    @include max-mixin($sreen-width-narrow) {
        // padding-left: 0;
        // text-align: left;
        // margin-left: 0;
        width: 100%;
        min-width: 280px;
    }
    .click-for-closeup {
        display: block;
    }
}

.test {
    text-align: left;
    color: red;
    display: none;
}

.large-heading-row {
    text-align: center;
    margin: 0 auto;
}

.home-decor-containerXX {
    display: none;
}

.curtain-hardware-frame {
    display: flex;
    iframe {
        margin: 0 auto;
        width: 80%;
        height: 1200px;
    }
}
