/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:17:13 PM
    Author     : Norm
*/

#header-image {
    width: 100%;
    height: 610px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-image: url("./images/phyllis_title_cropped.jpg");
    background-size: cover;
    background-position: left;
    color: white;
    font-weight: bold;
    /*font-size: 3.75rem 60px;*/
    font-size: 3.75rem;
    font-family: Italianno;
    width: 100%;
}

.banner {
    width: 100%;
    font-family: Italianno;
    font-weight: bold;
    color: #7d4628;
    text-align: left;
    /*padding-left: 30px;*/
    background-color: #e3e3e3;
    display: flex;
    /*justify-content: space-around;*/
    z-index: 10;
}

.banner .text1 {
    /*border: 3px solid red;*/
    font-weight: bold;
    color: #7d4628;
    text-align: left;
    background-color: #e3e3e3;
    //   display: none;
}

.banner .text2 {
    /*border: 3px solid red;*/
    /*width: 40%;*/
    /* solid red;*/
    color: #480f06;
    font-family: "OPen Sans", "Arial Bold";
    /*text-align: right;*/
    /*font-size: 2.5rem 40px;*/
    /*padding-top: 10px;*/
    /*padding-left: 100px;*/
    align-self: center;
}

// header {
    nav {
        display: flex;
        background-color: #4d2e22;
        // background-color: #333;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        // position: relative;

        a {
            float: left;
            /*font-size: 1.25rem;*/
            color: white;
            text-align: center;
            /*padding: 14px;*/
            text-decoration: none;
        }

        a:hover,
        .dropdown:hover .dropbtn {
            background-color: #5243d8;
        }
    }
// }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /*min-width: 100px;*/
    height: auto;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    /*z-index: 1;*/
}

.dropdown-content a {
    float: none;
    color: black;
    /*padding: 12px;*/
    text-decoration: none;
    display: block;
    text-align: left;
    height: auto;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header nav span .menu-item {
    font-size: 1.25rem /*20px*/;
    color: white;
}

.menu-item {
    font-size: 1.25rem /*20px*/;
    color: white;
}

.dropdown-item {
    font-size: 1.25rem;
    color: black;
}

.statement-parent {
    /*background-color: lightblue;*/
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

.statement {
    /*background-color: lightyellow;*/
    font-family: "Times New Roman", Times, serif;
    padding: 40px 50px 0px 50px;
    height: auto;
    font-size: 1.375rem /*22px*/;
    text-align: left;
    width: 50%;
}

.signature {
    /*background-color: lightgreen;*/
    width: 40%;
    padding-top: 0px;
    height: auto;
    font-size: 1.375rem /*22px*/;
    text-align: right;
}

@media only screen and (max-width: 525px) {
    header nav {
        /*padding-right: 20px;*/
        justify-content: space-around;
    }
    html {
        font-size: 12px;
    }
    .banner {
        justify-content: flex-start;
    }
    .banner .text2 {
        text-align: left;
        padding-left: 50px;
    }
}

@media only screen and (min-width: 525px) {
    header nav {
        justify-content: space-around;
    }
    .banner {
        justify-content: space-around;
    }
    .banner .text2 {
        /*text-align: right;*/
        padding-left: 100px;
    }
}

@media only screen and (min-width: 1000px) {
    // put in header
    .text1 {
        font-size: 5rem /*80px*/;
    }
    .text2 {
        font-size: 2.5rem /*40px*/;
    }
}

@media only screen and (max-width: 1000px) {
    // put in header
    .text1 {
        font-size: 3.125rem /*50px*/;
    }
    .text2 {
        font-size: 1.25rem /*20px*/;
    }
}

@media only screen and (max-width: 450px) {
    nav a {
        font-size: 1.25rem;
        padding: 6px;
        padding-left: 6px;
    }
    .menu-item form {
        padding-top: 3px;
        padding-left: 6px;
    }
}

@media only screen and (min-width: 450px) {
    nav a {
        font-size: 1.25rem;
        padding: 14px;
    }
    .menu-item form {
        padding-top: 12px;
        padding-left: 12px;
    }
}

@media only screen and (min-width: 600px) {
    #header-image {
        // background-image: url("../images/phyllis_title_cropped.jpg");
        background-image: url("../images/contact_loom@2x.png");
        background-position: center;
    }
}

@media only screen and (max-width: 600px) {
    #header-image {
        // background-image: url("../images/header_M.jpg");
        background-image: url("../images/contact_loom_cropped.png");
        background-position: left;
    }
}
