/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:15:06 PM
    Author     : Norm
*/

@import url("https://fonts.googleapis.com/css?family=Italianno");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@import "common";


#truce-flag-msg2 {
    // border: 3px solid red;
    background-color: gray;
    width: 300px;
    height: auto; //100px;
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
    // @include max-mixin(500px) {
    //     font-size: 18px;
    //     width: 80%;
    // }
    a {
        color: white;
        text-decoration: none;
        transform: rotate(15deg);
        img {
            // transform: rotate(12deg);
            padding-bottom: 30px;
        }
    }
}

#truce-flag-msg {
    // border: 3px solid red;
    background-color: gray;
    // width: 300px; //15%;
    width: 15%;
    // min-width: 300px;
    min-width: 150px;
    max-width: 200px;
    // height: 300px;
    color: black; //white;
    font-size: 1rem; //16px; // 22px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 3px;
    // @include max-mixin(800px) {
    //     font-size: 22px;
    // }
    position: absolute;
    top: -500px;
    left: 400px;
    top: 300px;
    right: 100px;
    // @include max-mixin(700px) {
    //     left: 300px;
    //     right: 50px;
    //     width: 200px;
    // }
    @include max-mixin(600px) {
        position: static;
        margin: 0 auto;
        width: 250px;
        // border: 3px dotted grey;
        margin-top: 20px;
        border-radius: 5px;
        // background-color: grey;
        // color: white;
    }
    z-index: 2;
    
    img {
        width: 80%;
        // transform: rotate(15deg);
    }
    a {
        color: white;
        text-decoration: none;
        img {
            // transform: rotate(15deg);
        }
    }
}
 

#shawls a {
    text-decoration: none;
}

.link-block {
    width: 300px;
    height: 561px;
}

.index-mobile-shawls-text {
    text-decoration: none;
}

/*******************************************************
  about-container-mobile

*********************************************************/

.index-container-mobile {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    

    a {
        padding-bottom: 50px;
    }

    .index-mobile-all {
        height: 500px;
        width: 300px;
        padding-right: 20px;
    }

    .index-mobile-shawls {
        background-image: url("../images/shawl_steel_a.jpg");
    }

    .index-mobile-etsy {
        background-image: url("../images/decor_mobile.jpg");
    }

    .index-mobile-decor {
        background-image: url("../images/table_runner2.jpg");
    }

    .index-mobile-block {
        font-size: 38px;
    }

    .index-mobile-hover {
        color: #4d2e22;
        /*color: lightgray;*/
    }
    .index-mobile-shawls-hover {
        color: lightgray;
    }
}

