/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:15:06 PM
    Author     : Norm
*/

@import url("https://fonts.googleapis.com/css?family=Italianno");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@import "common";

#truce-flag-msg2 {
    // border: 3px solid red;
    background-color: gray;
    width: 300px;
    height: auto; //100px;
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
    // @include max-mixin(500px) {
    //     font-size: 18px;
    //     width: 80%;
    // }
    a {
        color: white;
        text-decoration: none;
        transform: rotate(15deg);
        img {
            // transform: rotate(12deg);
            padding-bottom: 30px;
        }
    }
}

#truce-flag-msg {
    // border: 3px solid red;
    background-color: gray;
    // width: 300px; //15%;
    width: 15%;
    // min-width: 300px;
    min-width: 150px;
    max-width: 200px;
    // height: 300px;
    color: black; //white;
    font-size: 1rem; //16px; // 22px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 3px;
    // @include max-mixin(800px) {
    //     font-size: 22px;
    // }
    position: absolute;
    // top: -500px;
    // left: 400px;
    top: 380px;
    right: 100px;
    // @include max-mixin(700px) {
    //     left: 300px;
    //     right: 50px;
    //     width: 200px;
    // }
    @include max-mixin(600px) {
        position: static;
        margin: 0 auto;
        width: 250px;
        // border: 3px dotted grey;
        margin-top: 20px;
        border-radius: 5px;
        // background-color: grey;
        // color: white;
    }
    z-index: 2;

    img {
        width: 80%;
        // transform: rotate(15deg);
    }
    a {
        color: white;
        text-decoration: none;
        img {
            // transform: rotate(15deg);
        }
    }
}

.home-container {
    font-family: "Italianno", cursive;
    // width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px solid blue;
    // margin-bottom: 30px;

    .grid {
        width: 55%;
        padding-top: 40px;
        display: grid;
        justify-content: center;
        margin: 0 auto;
        row-gap: 10px;
        column-gap: 10px;
        @include max-mixin(400) {
            row-gap: 2px;
            column-gap: 2px;
        }

        .box {
            width: 160px; // 175px;
            height: 135px; //150px;
            $width-full: 150px;
            $height-full: 125px;

            width: $width-full;
            height: $height-full;

            @include max-mixin(800px) {
                width: $width-full * 0.8;
                height: $height-full * 0.8;
            }
            @include max-mixin(600px) {
                width: $width-full * 0.65;
                height: $height-full * 0.65;
                grid-gap: 5px;
            }
            @include max-mixin(450px) {
                width: $width-full * 0.5;
                height: $height-full * 0.5;
                padding-left: 0;
            }
            @include max-mixin(350px) {
                width: $width-full * 0.4;
                height: $height-full * 0.4;
                padding-left: 0;
            }
        }

        grid-template-areas:
            "box1 box2 box3 box4"
            "box5 box6 box6 box7"
            "box8 box6 box6 box9"
            "box10 box11 box12 box13";

        // margin-bottom: 25px;

        .box6 {
            grid-area: box6;
            // font-family: "Italianno", cursive;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #ededed;

            // }
            width: 100%;
            height: 100%;

            a {
                font-family: "open sans";
                font-size: 40px;
                color: black;
                font-weight: 300;
                @include max-mixin(550px) {
                    font-size: 32px;
                }
                @include max-mixin(350px) {
                    font-size: 24px;
                }
            }

            &:hover {
                transform: scale(1.1);
                font-weight: bold;
            }
            text-decoration: none;
        }
    }

    .shawls {
        .box1 {
            grid-area: box1;
            background: url("../images/grid_images/s1.png") no-repeat center top/cover;
        }
        .box2 {
            grid-area: box2;
            background: url("../images/grid_images/s2.png") no-repeat center top/cover;
        }
        .box3 {
            grid-area: box3;
            background: url("../images/grid_images/s3.png") no-repeat center top/cover;
        }
        .box4 {
            grid-area: box4;
            background: url("../images/grid_images/s4.png") no-repeat center top/cover;
        }
        .box5 {
            grid-area: box5;
            background: url("../images/grid_images/s5.png") no-repeat center top/cover;
        }

        .box6 {
        }
        .box7 {
            grid-area: box7;
            background: url("../images/grid_images/s7.png") no-repeat center top/cover;
        }
        .box8 {
            grid-area: box8;
            background: url("../images/grid_images/s8.png") no-repeat center top/cover;
        }
        .box9 {
            grid-area: box9;
            background: url("../images/grid_images/s9.png") no-repeat center top/cover;
        }
        .box10 {
            grid-area: box10;
            background: url("../images/grid_images/s10.png") no-repeat center top/cover;
        }
        .box11 {
            grid-area: box11;
            background: url("../images/grid_images/s11.png") no-repeat center top/cover;
        }
        .box12 {
            grid-area: box12;
            background: url("../images/grid_images/s12.png") no-repeat center top/cover;
        }
        .box13 {
            grid-area: box13;
            background: url("../images/grid_images/s13.png") no-repeat center top/cover;
        }
    }

    .decor {
        .box1 {
            grid-area: box1;
            background: url("../images/grid_images/d1.png") no-repeat center top/cover;
        }
        .box2 {
            grid-area: box2;
            background: url("../images/grid_images/d2.png") no-repeat center top/cover;
        }
        .box3 {
            grid-area: box3;
            background: url("../images/grid_images/d3.png") no-repeat center top/cover;
        }
        .box4 {
            grid-area: box4;
            background: url("../images/grid_images/d4.png") no-repeat center top/cover;
        }
        .box5 {
            grid-area: box5;
            background: url("../images/grid_images/d5.png") no-repeat center top/cover;
        }

        .box6 {
        }
        .box7 {
            grid-area: box7;
            background: url("../images/grid_images/d7.png") no-repeat center top/cover;
        }
        .box8 {
            grid-area: box8;
            background: url("../images/grid_images/d8.png") no-repeat center top/cover;
        }
        .box9 {
            grid-area: box9;
            background: url("../images/grid_images/d9.png") no-repeat center top/cover;
        }
        .box10 {
            grid-area: box10;
            background: url("../images/grid_images/d10.png") no-repeat center top/cover;
        }
        .box11 {
            grid-area: box11;
            background: url("../images/grid_images/d11.png") no-repeat center center/cover;
        }
        .box12 {
            grid-area: box12;
            background: url("../images/grid_images/d12.png") no-repeat center top/cover;
        }
        .box13 {
            grid-area: box13;
            background: url("../images/grid_images/d13.png") no-repeat center center/cover;
        }
    }

    .etsy {
        .box1 {
            grid-area: box1;
            background: url("../images/grid_images/e1.png") no-repeat center top/cover;
        }
        .box2 {
            grid-area: box2;
            background: url("../images/grid_images/e2.png") no-repeat center top/cover;
        }
        .box3 {
            grid-area: box3;
            background: url("../images/grid_images/e3.png") no-repeat center top/cover;
        }
        .box4 {
            grid-area: box4;
            background: url("../images/grid_images/e4.png") no-repeat center top/cover;
        }
        .box5 {
            grid-area: box5;
            background: url("../images/grid_images/e5.png") no-repeat center top/cover;
        }

        .box6 {
        }
        .box7 {
            grid-area: box7;
            background: url("../images/grid_images/e7.png") no-repeat center top/cover;
        }
        .box8 {
            grid-area: box8;
            background: url("../images/grid_images/e8.png") no-repeat center top/cover;
        }
        .box9 {
            grid-area: box9;
            background: url("../images/grid_images/e9.png") no-repeat center top/cover;
        }
        .box10 {
            grid-area: box10;
            background: url("../images/grid_images/e10.png") no-repeat center top/cover;
        }
        .box11 {
            grid-area: box11;
            background: url("../images/grid_images/e11.png") no-repeat center center/cover;
        }
        .box12 {
            grid-area: box12;
            background: url("../images/grid_images/e12.png") no-repeat center top/cover;
        }
        .box13 {
            grid-area: box13;
            background: url("../images/grid_images/e13.png") no-repeat center center/cover;
        }
    }

    h1 {
        font-family: "TimesNewRoman";
    }

    a {
        text-decoration: none;
    }

    .copy-block a:hover {
        font-weight: bold;
        font-size: 3rem /*48px*/;
        text-decoration: none;
    }

    .copy-block a {
        text-decoration: none;
    }

    .copy-block {
        width: 25%;
    }

    .copy-block a {
        text-decoration: none;
    }
} // index-container

#shawls a {
    text-decoration: none;
}

.link-block {
    width: 300px;
    height: 561px;
}

.index-mobile-shawls-text {
    text-decoration: none;
}

/*******************************************************
  about-container-mobile

*********************************************************/

.index-container-mobile {
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;

    a {
        padding-bottom: 50px;
    }

    .index-mobile-all {
        height: 500px;
        width: 300px;
    }

    .index-mobile-shawls {
        background-image: url("../images/shawl_steel_a.jpg");
    }

    .index-mobile-etsy {
        background-image: url("../images/decor_mobile.jpg");
    }

    .index-mobile-decor {
        background-image: url("../images/table_runner2.jpg");
    }

    .index-mobile-block {
        font-size: 38px;
    }

    .index-mobile-hover {
        color: #4d2e22;
        /*color: lightgray;*/
    }
    .index-mobile-shawls-hover {
        color: lightgray;
    }
}

@media only screen and (max-width: 800px) {
    // .footer-small {
    //     // display: flex;
    // }
    // .footer-large {
    //     // display: none;
    // }
    // .index-container {
    //     // display: none;
    // }
    // .index-container-mobile {
    //     // display: flex;
    // }
    .shawls-container {
        /*border: 3px solid red;*/
        // display: none;
    }

    .shawls-container-mobile {
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 1;

        .copy-and-image {
            /*border: 3px solid red;*/
            display: none;
            flex-direction: column;
            align-items: center;
        }

        .shawls-block {
            width: 450px;
            /*border: 3px solid blue;*/
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            background-color: #f3f4f5;
            padding-bottom: 20px;
            padding-top: 20px;

            .image-block {
                /*height: 561px;*/
                height: auto;
                position: relative;
                left: 0;
                top: 0;
                z-index: 5;
                /*padding-bottom: 50px;*/
            }

            .copy-block {
                /*border: 3px solid red;*/
                height: auto;
                width: 66%;

                .heading-rows {
                    ul li {
                        margin: 0 auto;
                        text-align: center;
                    }
                }

                // .small-heading-row {
                //     align-self: center;
                // }
            }

            .image1 {
                position: relative;
                left: 0;
                top: 0;
                z-index: 5;
            }

            .image2 {
                position: absolute;
                top: 400px;
                left: 0px;
                z-index: 10;
                border: 6px solid white;
            }
        }
    }

    .index-mobile-shawls,
    .index-mobile-decor,
    .index-mobile-etsy {
        position: relative;
        left: 0;
        top: 0;
        z-index: 5;
    }

    .index-mobile-shawls-text {
        position: absolute;
        top: 150px;
        left: 5px;
        z-index: 10;
        text-decoration: none;
    }

    /*  .index-mobile-shawls-text:hover {
    font-weight: bold;
    font-size: 3rem;
  }*/

    .index-mobile-etsy-text {
        position: absolute;
        top: 105px;
        left: 30px;
        z-index: 10;
        text-decoration: none;
    }

    .index-mobile-decor-text {
        position: absolute;
        top: 250px;
        left: 100px;
        z-index: 10;
        text-decoration: none;
    }

    .index-mobile-hover:hover {
        font-weight: bold;
        font-size: 3rem;
    }
}

@media only screen and (min-width: 800px) {
    .footer-small {
        display: none;
    }
    .footer-large {
        display: flex;
    }
    // .index-container {
    //     display: flex;
    // }
    // .index-container-mobile {
    //     display: none;
    // }
    // .shawls-container {
    //     display: flex;
    // }
    // .shawls-container-mobile {
    //     display: none;
    // }
}

@media only screen and (min-width: 600px) {
    .pop-out-swag-container {
        display: flex;
    }
    .pop-out-swag-container-mobile {
        display: none;
    }
    // #header-image {
    //     background-image: url("../images/phyllis_title_cropped.jpg");
    // }
}

@media only screen and (max-width: 600px) {
    .pop-out-swag-container {
        display: none;
    }
    .pop-out-swag-container-mobile {
        display: flex;
    }
    // #header-image {
    //     background-image: url("../images/header_M.jpg");
    // }
}

@media only screen and (max-width: 800px) {
    // .index-container {
    //     display: none;
    // }
    // .index-container-mobile {
    //     display: flex;
    // }
    // .index-mobile-shawls,
    // .index-mobile-decor,
    // .index-mobile-etsy {
    //     position: relative;
    //     left: 0;
    //     top: 0;
    //     z-index: 5;
    // }
    // .index-mobile-shawls-text {
    //     position: absolute;
    //     top: 170px;
    //     left: 50px;
    //     z-index: 10;
    //     text-decoration: none;
    //     /*color: white;*/
    // }
    // .index-mobile-etsy-text {
    //     position: absolute;
    //     top: 105px;
    //     left: 30px;
    //     z-index: 10;
    //     text-decoration: none;
    // }
    // .index-mobile-decor-text {
    //     position: absolute;
    //     top: 250px;
    //     left: 100px;
    //     z-index: 10;
    //     text-decoration: none;
    // }
    // .index-mobile-hover:hover {
    //     font-weight: bold;
    //     font-size: 3rem;
    // }
}

// @media only screen and (min-width: 800px) {
//     .index-container {
//         display: flex;
//     }
//     .index-container-mobile {
//         display: none;
//     }
// }
