/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:15:06 PM
    Author     : Norm
*/

@import url("https://fonts.googleapis.com/css?family=Italianno");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "variables";
@import "header";
@import "common";
@import "footer";
@import "screenSize";

#truce-flag-msg {
    // border: 3px solid red;
    background-color: gray; //$footerBackgroundColor;
    width: 50%;
    height: auto; //100px;
    color: white;
    font-size: 28px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    @include max-mixin(800px) {
        font-size: 22px;
    }
}
 
.index-container {
    font-family: "Italianno", cursive;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px solid blue;
    padding-bottom: 50px;

    h1 {
        font-family: "TimesNewRoman";
    }

    a {
        text-decoration: none;
    }

    .copy-block a:hover {
        font-weight: bold;
        font-size: 3rem /*48px*/;
        text-decoration: none;
    }

    .copy-block a {
        text-decoration: none;
    }

    .copy-block {
        width: 25%;
    }

    .copy-block a {
        text-decoration: none;
    }
} // index-container

#shawls a {
    text-decoration: none;
}

.link-block {
    width: 300px;
    height: 561px;
}

.index-mobile-shawls-text {
    text-decoration: none;
}

/*******************************************************
  about-container-mobile

*********************************************************/

.index-container-mobile {
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;

    a {
        padding-bottom: 50px;
    }

    .index-mobile-all {
        height: 500px;
        width: 300px;
    }

    .index-mobile-shawls {
        background-image: url("../images/shawl_steel_a.jpg");
    }

    .index-mobile-etsy {
        background-image: url("../images/decor_mobile.jpg");
    }

    .index-mobile-decor {
        background-image: url("../images/table_runner2.jpg");
    }

    .index-mobile-block {
        font-size: 38px;
    }

    .index-mobile-hover {
        color: #4d2e22;
        /*color: lightgray;*/
    }
    .index-mobile-shawls-hover {
        color: lightgray;
    }
}

@media only screen and (max-width: 800px) {
    .footer-small {
        display: flex;
    }
    .footer-large {
        display: none;
    }
    .index-container {
        display: none;
    }
    .index-container-mobile {
        display: flex;
    }
    .shawls-container {
        /*border: 3px solid red;*/
        display: none;
    }

    .shawls-container-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .copy-and-image {
            /*border: 3px solid red;*/
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .shawls-block {
            width: 450px;
            /*border: 3px solid blue;*/
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background-color: #f3f4f5;
            padding-bottom: 20px;
            padding-top: 20px;

            .image-block {
                /*height: 561px;*/
                height: auto;
                position: relative;
                left: 0;
                top: 0;
                z-index: 5;
                /*padding-bottom: 50px;*/
            }

            .copy-block {
                /*border: 3px solid red;*/
                height: auto;
                width: 66%;

                .small-heading-row {
                    align-self: center;
                }
            }

            .image1 {
                position: relative;
                left: 0;
                top: 0;
                z-index: 5;
            }

            .image2 {
                position: absolute;
                top: 400px;
                left: 0px;
                z-index: 10;
                border: 6px solid white;
            }
        }
    }

    .index-mobile-shawls,
    .index-mobile-decor,
    .index-mobile-etsy {
        position: relative;
        left: 0;
        top: 0;
        z-index: 5;
    }

    .index-mobile-shawls-text {
        position: absolute;
        top: 150px;
        left: 5px;
        z-index: 10;
        text-decoration: none;
    }

    /*  .index-mobile-shawls-text:hover {
    font-weight: bold;
    font-size: 3rem;
  }*/

    .index-mobile-etsy-text {
        position: absolute;
        top: 105px;
        left: 30px;
        z-index: 10;
        text-decoration: none;
    }

    .index-mobile-decor-text {
        position: absolute;
        top: 250px;
        left: 100px;
        z-index: 10;
        text-decoration: none;
    }

    .index-mobile-hover:hover {
        font-weight: bold;
        font-size: 3rem;
    }
}

@media only screen and (min-width: 800px) {
    .footer-small {
        display: none;
    }
    .footer-large {
        display: flex;
    }
    .index-container {
        display: flex;
    }
    .index-container-mobile {
        display: none;
    }
    .shawls-container {
        display: flex;
    }
    .shawls-container-mobile {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .pop-out-swag-container {
        display: flex;
    }
    .pop-out-swag-container-mobile {
        display: none;
    }
    // #header-image {
    //     background-image: url("../images/phyllis_title_cropped.jpg");
    // }
}

@media only screen and (max-width: 600px) {
    .pop-out-swag-container {
        display: none;
    }
    .pop-out-swag-container-mobile {
        display: flex;
    }
    // #header-image {
    //     background-image: url("../images/header_M.jpg");
    // }
}

@media only screen and (max-width: 800px) {
    .index-container {
        display: none;
    }
    .index-container-mobile {
        display: flex;
    }
    .index-mobile-shawls,
    .index-mobile-decor,
    .index-mobile-etsy {
        position: relative;
        left: 0;
        top: 0;
        z-index: 5;
    }
    .index-mobile-shawls-text {
        position: absolute;
        top: 170px;
        left: 50px;
        z-index: 10;
        text-decoration: none;
        /*color: white;*/
    }
    .index-mobile-etsy-text {
        position: absolute;
        top: 105px;
        left: 30px;
        z-index: 10;
        text-decoration: none;
    }
    .index-mobile-decor-text {
        position: absolute;
        top: 250px;
        left: 100px;
        z-index: 10;
        text-decoration: none;
    }
    .index-mobile-hover:hover {
        font-weight: bold;
        font-size: 3rem;
    }
}

@media only screen and (min-width: 800px) {
    .index-container {
        display: flex;
    }
    .index-container-mobile {
        display: none;
    }
}
