/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:15:06 PM
    Author     : Norm
*/



@import url('https://fonts.googleapis.com/css?family=Italianno');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "variables";
@import "header.scss";
@import "common";
@import "screenSize.scss";
@import "footer.scss";

div {
  border: 0px soiid red;
}


.index-container {
  font-family: 'Italianno', cursive;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid blue;
  padding-bottom: 50px;
}

.index-container h1 {
  font-family: "TimesNewRoman";
}

.index-container a {
  text-decoration: none;
}

#shawls a {
  text-decoration: none;
}

.index-container .copy-block a:hover {
  font-weight: bold;
  font-size: 3rem /*48px*/;
  text-decoration: none;
}

.index-container .copy-block a {
  text-decoration: none;
}

.index-container .copy-block {
  width: 25%;
}

.link-block {
  width: 300px;
  height: 561px;
}

.index-mobile-shawls-text {
  text-decoration: none;
}

/*******************************************************
  about-container-mobile

*********************************************************/

.index-container-mobile {
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.index-container-mobile a {
  padding-bottom: 50px;
}

.index-mobile-all {
  height: 500px;
  width: 300px;
}

.index-mobile-shawls {
  background-image: url("../images/shawl_knot1.jpg");
}

.index-mobile-etsy {
  background-image: url("../images/decor_mobile.jpg");
}

.index-mobile-decor {
  background-image: url("../images/table_runner2.jpg");
}

.index-mobile-block {
  font-size: 38px;
}

.index-mobile-hover {
  color: #4D2E22;
}

/*.index-mobile-shawls-text {
  color: #4D2E22;
}

.index-mobile-decor-text {
  color: #4D2E22;
}

.index-mobile-etsy-text {
  color: #4D2E22;
}*/
