/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 12, 2018, 10:15:34 AM
    Author     : Norm
*/

@import "variables";
@import "header";
@import "common";

$mainWidth: 100%;

header {
    /*border: 3px solid red;*/
    display: flex;
    flex-direction: column;
    /*width: $mainWidth;*/

    .banner-upper {
        z-index: 5;
        /*border: 3px solid red;*/
        /*background-color: $footerBackgroundColor;*/
        /*width: $mainWidth;*/
        /*font-family: $mainFont;*/
        color: black;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 5px;

        width: 100%;
          font-family: Italianno;
          font-weight: bold;
          color: #7D4628;
          text-align: left;
          /*padding-left: 30px;*/
          background-color: #E3E3E3;


        .banner-block {
            text-align: center;
            /*border: 3px solid red;*/
            /*padding: 0 25px 0 25px;*/
/*            width: $mainWidth;*/
            .left-half, .right-half, .logo-inline {
                /*border: 3px solid red;*/
            }
            .left-half {
                /*width: 50%;*/
                /*align-self: flex-end;*/
                /*justify-content: flex-end;*/
                padding-left: 50px;
            }
            .logo-inline {
                display: inline;
            }

            /*@include font1;*/

            @include max-mixin(400px) {
                /*width: 250px;*/
                font-size: 16px;
            }

            .logo-inline {
                @include max-mixin(450px) {
                    display: none;
                }
            }
        }

        .banner-block-small {
            @include min-mixin(325px) {
                display: none;
            }
            @include max-mixin(325px) {
                display: inherit;
                font-size: 24px;
            }
        }

    }

    /*  .sticky {
        position: fixed;
        top: 0;
        width: $mainWidth;
      }
    
      .sticky + .content {
        padding-top: 60px;
        padding-bottom: 50px;
      }*/


    .header-image {
        z-index: 5;
        /*border: 3px solid blue;*/
        height: 500px;
/*        width: $mainWidth;*/
        // background-image: url("../images/header_index.jpg");


        // background-image: url("../images/home_image.jpg");
        @include max-mixin(650px) {
            // background-image: url("../images/header2_m.jpg");
            background-image: url("../images/header_M.jpg");
            height: 250px;
        }
        background-size: cover;
        /*display: "block";*/

        #flag-msg {
            border: 3px solid red;
            width: 100px;
            height: 50px;
            position: relative;
            top: 50;
            left: 50;
            font-family: Ariel;
            color: black;
        }
            }

    #main-menu {
        display: flex;
        justify-content: center;
    }



    nav {
        z-index: 5;

        /*border: 3px solid red;*/
        /*    position: relative;
            top: 47px;*/
        display: flex;
        @include max-mixin(450px) {
            display: none;
        }
        /*background-color: $navigationBoxGrey;*/
        justify-content: space-around;
        align-content: flex-start;
        /*width: $mainWidth;*/
        height: 30px;
        padding-top: 15px;
        .shopping-cart {
            /*border: 3px solid red;*/
            position: relative;
            top: -10px;
        }
    }


    nav a {
        float: left;
        color: black;
        text-align: center;
        text-decoration: none;
        /*@include font3;*/
        @include max-mixin(400px) {
            font-size: 16px;
        }
    }

    nav a:hover, .dropdown:hover .dropbtn {
        background-color: white;
        /*@include font3;*/
    }

    .dropdown-content {
        display: none;
        width: 33%;
        position: absolute;
        background-color: #f9f9f9;
        /*min-width: 100px;*/
        padding: 0 15px 0 15px;
        height: auto;
        /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
        /*z-index: 1;*/
    }

    .dropdown-content a {
        float: none;
        color: black;
        /*padding: 12px;*/
        text-decoration: none;
        display: block;
        text-align: left;
        height: auto;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    header {
        /*width: $mainWidth;*/
        /*padding-top: 15px;*/
        color: black;
    }

    /*header a {
      font-size: 1rem 20px;
      color: black;
    }*/

    .menu-item {
        font-size: 1rem /*20px*/;
        color: black;
    }

    .dropdown-item {
        font-size: 1.25rem;
        color: black;
    }

    .topnavbar {
        /*border: 3px solid red;*/
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
    }

    #topnavbar {
        .navbar-mobile {
            position: fixed;
            top: 0;
            z-index: 1;
            width: 100%;
        }
    }

    .fixed {
        position: fixed;
    }

    .navbar-mobile {
        display: grid;
        @include min-mixin(450px) {
            display: none;
        }
        grid-template-columns: 1fr 4fr 1fr;
        justify-items: center;
        align-items: center;
        align-content: center;
        grid-template-rows: 50px;
        /*padding-top: 8px;*/
        /*background-color: $navigationBoxGrey;*/

        a:hover, .dropdown:hover .dropbtn {
            /*background-color: $hoverColor;*/
            /*@include font3;*/
        }
        a {
            /*@include font3;*/
        }

        div {
            text-align: center;
        }

        .menu-box {
            align-self: center;
        }

        .dropdown {
            .dropdown-content {
                width: 100%;
            }
        }
    }
}