/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 1:42:27 PM
    Author     : Norm
*/
@import url('https://fonts.googleapis.com/css?family=Italianno');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "variables";
@import "header";
@import "common";
@import "footer";
@import "screenSize.scss";


@media only screen and (min-width: 800px) {

    .shawls-container {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;

        #mobile-device-msg1 {
            /*hidden = true;*/
        }
        .shawls-block {

            .copy-block {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 30%;
                /*border: 0px solid red;*/
                padding-left: 5%;
                padding-right: 5%;

                .dev {
                    display: inline;
                }
            }

            .copy-and-image {
                padding-bottom: 4%;
                .steel-grey-shawl-images {
                    /*border: 3px solid red;*/
                    width: 300px;
                    height: auto; //561px;
                    position: relative;
                    display: inline-block;
                    /*margin: 50px;*/

                    /*      .img-top {
                            display: none;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 99;
                          }
                          &:hover .img-top {
                            display: inline;
                          }*/
                    .click-for-closeup {
                        font-size: 14px;
                        color: red;
                    }

                }

                .has-insert {
                    position: relative; 
                    left: 0; 
                    top: 0;
                    z-index: 5;
                }

                .image1 {
                    position:absolute;
                    top: 0px;
                    left: 10px;
                    z-index: 1;
                }

                .image2 {
                    position:absolute;
                    top: 400px;
                    left: 6px;
                    z-index: 2;
                    border: 6px solid white;
                }

                .shawl-text1 {
                    height: 478px; //469px;
                }

                .shawl-text2 {
                    height: 569px; //469px;
                }

                .shawl-text5 {
                    height: 560px;
                }

                .shawl-text6 {
                    height: 574px;
                }

                .shawl-text4 {
                    height: 472px;
                }

                .shawl-text7 {
                    height: 561px;
                }

                .shawl-text8 {
                    height: 400px;
                }

                .shawl-text9 {
                    height: 381px;
                }

                .shawl-text11 {
                    height: 465px;
                }

                .shawl-text12 {
                    height: 472px;
                }

                .shawl-text13 {
                    height: 472px;
                }

            }
        }
    }
}


@media only screen and (max-width: 800px) {

    .shawls-container-mobile {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;

        #mobile-device-msg1 {
            /*hidden = true;*/
        }
        .shawls-block {

            .copy-block {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 30%;
                /*border: 0px solid red;*/
                padding-left: 5%;
                padding-right: 5%;

                .dev {
                    display: inline;
                }
            }

            .copy-and-image {
                padding-bottom: 4%;
                .steel-grey-shawl-images {
                    /*border: 3px solid red;*/
                    width: 300px;
                    height: auto; //561px;
                    position: relative;
                    display: inline-block;
                    /*margin: 50px;*/

                    /*      .img-top {
                            display: none;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 99;
                          }
                          &:hover .img-top {
                            display: inline;
                          }*/
                    .click-for-closeup {
                        font-size: 14px;
                        color: red;
                    }

                }

                .has-insert {
                    position: relative; 
                    left: 0; 
                    top: 0;
                    z-index: 5;
                }

                .image1 {
                    position:absolute;
                    top: 0px;
                    left: 10px;
                    z-index: 1;
                }

                .image2 {
                    position:absolute;
                    top: 400px;
                    left: 6px;
                    z-index: 2;
                    border: 6px solid white;
                }

                .shawl-text1 {
                    height: 478px; //469px;
                }

                .shawl-text2 {
                    height: 569px; //469px;
                }

                .shawl-text5 {
                    height: 560px;
                }

                .shawl-text6 {
                    height: 574px;
                }

                .shawl-text4 {
                    height: 472px;
                }

                .shawl-text7 {
                    height: 561px;
                }

                .shawl-text8 {
                    height: 400px;
                }

                .shawl-text9 {
                    height: 381px;
                }

                .shawl-text11 {
                    height: 465px;
                }

                .shawl-text12 {
                    height: 472px;
                }

                .shawl-text13 {
                    height: 472px;
                }

            }
        }
    }
}
